body{
    background-color: #030876;
    color: white;
    font-family: 'Helvetica Neue Light', 'Helvetica Neue', 'Roboto', 'Source Sans Pro', 'Open Sans', 'Myriad Pro', 'Segoe UI', Myriad, Helvetica, 'Lucida Grande', 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, Arial, sans-serif;
    padding-bottom:30px;
}

text{
    color: white;
    fill: white;
}
.dc-chart g.row text {
  color: white;
  fill: white;  
}

#header{
    padding:20px;
}

.tile{
    margin-left: 30px;
    margin-right: 30px;
}
.tile-title{
    text-align:center;
}

.day-tile{
    margin: 20px 50px;
}

table{
    text-align:center;
    display: table-cell;
    vertical-align: middle;
    padding-top:30px;
}

/* Flat Buttons */
.data-button {
  border-radius: 2px;
  text-shadow: none;
  border: none;
  box-shadow: none;
  font-family: 'Helvetica Neue Light', 'Helvetica Neue', 'Roboto', 'Source Sans Pro', 'Open Sans', 'Myriad Pro', 'Segoe UI', Myriad, Helvetica, 'Lucida Grande', 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, Arial, sans-serif;
  color: white;
  font-size: 18px;
  padding: 10px;
  margin: 5px;
}

/* Blue Theme */
.data-button {
  background: #171ea5 !important;
}
.data-button:hover,
.data-button:focus {
  background: #07f !important;
}
.data-button:active {
  background: orange !important;
}

.box{
        width: 150px;
        font-size: 64px;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 30px;
        height: 100px;
        line-height: normal;
        border-radius: 2px;
        text-shadow: none;
        border: none;
        box-shadow: none;
}

#avg-temp-box {
        background: orange;
}

#min-temp-box {
        background: #5fa9d3;
}

#max-temp-box {
        background: orangered;
}